@media only screen and (min-width: 1500px) {
        .Who-ship-wrap-box{
    display:grid;
    grid-template-columns: repeat(4, 200px);
}
}
@media only screen and (min-width: 800px) {
    .NavBar,
    .HomeMain-overlay,
    .Qualities, .What-we-ship,.What-who-ship {
        padding: 0 70px;
    }
    .links-LogHub {
        right: 70px;
    }
    /* HeroMain */
    .mainHeader,
    .subHeader,
    .track-button {
        text-align: left;
        justify-content: left;
    }
    .mainHeader {
        font-size: 8vh;
    }
    .HomeMain {
        background-position-x: 00vw;
    }
    .links-section {
        display: grid;
    }
    .nav-wrapper {
        display: grid;
        grid-template-columns: 150px 2fr 1fr;
    }
    .HamMenu {
        display: none;
    }
    .Qualities {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .S-box {
        padding: 40px 50px;
        width: 35vw;
        transition: 2s;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s;
    }
    .LogLayout {
        display: grid;
        grid-template-columns: 250px 3fr;
        height: 100vh;
    }
    .buttonLinks {
        position: unset;
    }
    .log-text {
        color: white;
        align-self: center;
        margin-left: 10px;
        font-size: small;
    }
    .buttonLinks {
        background: black;
        width: 250px;
        align-items: center;
        display: grid;
        align-items: center;
        padding: 0px 35px;
        height: 100vh;
    }
    .Footer {
        background: black;
        display: grid;
        padding: 50px 50px;
    }
    .footer-wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .SecondFooter {
        margin-top: 0px;
    }
    .subs-footer {
        color: white;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .rigth {
        display: grid;
        justify-content: right;
    }
    .Title-log {
        text-align: left;
    }
    .CardWrap {
        margin: 30px 0;
    }
    .b-text-sub {
        font-size: small;
    }
    .left {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Services {
        padding: 0 80px;
        padding-top: 100px;
        background-color: white;
        padding-bottom: 100px;
    }
    .Service-point-wrap {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .AboutUS-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cans .subHeader {
        font-size: medium;
    }
    .cans .mainHeader {
        font-size: 48px;
    }
    .aleft {
        height: 100vh;
        display: grid;
        align-items: center;
    }
    .cans {
        height: fit-content;
        background: white;
        
        padding: 40px 0;
        padding-right: 100px;
        padding-left: 70px;
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
    }

    .t-wrap{
        display: grid;
        grid-template-columns: auto auto auto ;
    }
    .t-box{
        height: fit-content;
        width: 250px;
        background-color: white;
    }
    .comment{
        font-size: 15px;
    }
    .Order{
        
        height: fit-content;
        padding: 20px 5vw;
        box-shadow: 0px 0px 15px 2px rgb(211, 211, 211);
        border-radius: 10px;
    }
    .What-we-ship {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }
    .What-who-ship{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }
    .Who-ship-wrap-box{
    display:grid;
    grid-template-columns: repeat(4, 200px);
}
.What-we-ship-wrap-box{
    display: grid;
    grid-template-areas: 'oo oo oo ss'
                         'tt tt fo fi';
}
}
